<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sports</title>
    <script src="/static/js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <style>
        table,
        th,
        td {
            border: 1px solid black;

            padding: 10px;
        }
    </style>
</head>
</head>

<body>
    <h3>Add New Sport</h3>
    <form>
        <label>Sport name</label>
        <br>
        <input type="text" name="sport_name">
        <br>
        <br>
        <label>Sport description</label>
        <br>
        <textarea name="sport_desc" id="sport_desc" cols="30" rows="10"></textarea>
        <br>
        <button type="submit">submit</button>
    </form>
    <br>
    <br>


    <table style="width:100%">
        <tr>
            <th>Key</th>
            <th>ID</th>
            <th>Sport Name</th>
            <th>Sport Description</th>
            <th>Created</th>
            <th>Actions</th>
        </tr>
        {{range .AllSports}}

        <tr>
            <td> {{.Key}}</td>
            <td>{{.Sports.ID}}</td>
            <td>{{.Sports.SportName}}</td>
            <td>{{.Sports.SportDesc}}</td>
            <td>{{.Sports.Created.Format "01/02/2006 15:04:05" }}</td>
            <td>
                <button key="{{.Key}}" class="view">view</button>
                <button key="{{.Key}}" class="edit">edit</button>
                <button key="{{.Key}}" class="delete">delete</button>
            </td>

        </tr>
        {{end}}
    </table>
    <script>
        $(document).ready(function () {
            $('form').on('submit', function (e) {
                e.preventDefault();
                var sport_name = $("input[name=sport_name]").val();
                var sport_desc = $("textarea#sport_desc").val();
                var formData = {
                    'sport_name': sport_name,
                    'sport_desc': sport_desc,

                };

                $.ajax({
                    type: 'post',
                    url: '/api/insert-people',
                    data: JSON.stringify(formData),
                    dataType: 'json',
                    contentType: "application/json",

                    success: function (data) {

                        console.log(data);
                        window.location.reload();

                    },
                    error: function (request, status, error) {
                        console.log(request, status, error);
                    }
                });

            });

          
                
                $('button').on("click", function () {
                    var data = $.parseJSON($(this).attr('key'));
                    alert(data)
                
            });
        });
    </script>
</body>

</html>